<main class="flex flex-col gap-2 md:gap-4 w-full md:px-8 md:py-8">
  <div class="flex justify-between items-center rounded-2xl bg-gray-200 p-4 md:px-8 md:py-8">
    <div class="flex flex-col w-full md:gap-10 md:py-8 md:px-36 rounded-2xl justify-center">
      <p class="py-2 text-xl md:text-3xl font-semibold text-gray-500">Add Users</p>
      <%= form_with(model: @user, url: user_registration_path, method: :post, data: { turbo: false }, html: { class: "flex flex-col justify-center" }) do |f| %>
        <% if flash[:alert] %>
          <div class="alert alert-danger text-base text-red-600 pb-2">
            <%= flash[:alert].html_safe %>
          </div>
        <% end %>

        <div class="flex flex-col gap-y-2 md:gap-y-6">
          

          <div class="flex flex-col justify-center items-center gap-y-2 md:gap-y-6">
            <div class="flex flex-col justify-center items-center">
              <label for="avatar_upload" class="w-24 md:w-40 flex items-center justify-center cursor-pointer">
                <%# <%= image_tag @user.avatar.attached? ? url_for(@user.avatar) : "avatar.png",
                      id: "avatar_preview", 
                      class: "object-cover rounded-full w-24 md:w-40 h-24 md:h-40" %>
                <%= image_tag (@user.persisted? && @user.avatar.attached?) ? url_for(@user.avatar) : "avatar.png",
                  id: "avatar_preview", 
                  class: "object-cover rounded-full w-24 md:w-40 h-24 md:h-40" %>

              </label>
              <%= f.file_field :avatar, id: "avatar_upload", class: "hidden", onchange: "previewAvatar(event);" %>
              <%= f.label :avatar, "Avatar", class: "block text-sm md:text-base font-light text-center" %>
              <p class="text-gray-500 text-sm">(under 10Mb)</p>
            </div>
          </div>
          
          <div class="flex flex-col md:flex-row gap-y-2 md:justify-between">
            <!-- First Name -->
            <div class="md:w-[45%]">
              <%= f.label :first_name, "First Name", class: "block text-sm md:text-base font-light" %>
              <div class="mt-2">
                <div class="flex items-center rounded-sm bg-white outline-1 -outline-offset-1 outline-gray-300 focus-within:outline-2 focus-within:-outline-offset-2 focus-within:outline-[#377DFF]">
                  <%= f.text_field :first_name, required: true, class: "shrink-0 block min-w-0 grow py-1.5 px-3 text-base text-gray-900 placeholder:text-gray-400 focus:outline-none sm:text-sm/6 md:text-lg", placeholder: "Alex" %>
                </div>
              </div>
            </div>

            <!-- Last Name -->
            <div class="md:w-[45%]">
              <%= f.label :last_name, "Last Name", class: "block text-sm md:text-base font-light" %>
              <div class="mt-2">
                <div class="flex items-center rounded-sm bg-white outline-1 -outline-offset-1 outline-gray-300 focus-within:outline-2 focus-within:-outline-offset-2 focus-within:outline-[#377DFF]">
                  <%= f.text_field :last_name, required: true, class: "shrink-0 block min-w-0 grow py-1.5 px-3 text-base text-gray-900 placeholder:text-gray-400 focus:outline-none sm:text-sm/6 md:text-lg", placeholder: "Gill" %>
                </div>
              </div>
            </div>
          </div>

          <div class="flex flex-col md:flex-row gap-y-2 md:justify-between">
            <!-- Email -->
            <div class="md:w-[45%]">
              <%= f.label :email, "Email", class: "block text-sm md:text-base font-light" %>
              <div class="mt-2">
                <div class="flex items-center rounded-sm bg-white outline-1 -outline-offset-1 outline-gray-300 focus-within:outline-2 focus-within:-outline-offset-2 focus-within:outline-[#377DFF]">
                  <%= f.email_field :email, required: true, autocomplete: "email", class: "shrink-0 block min-w-0 grow py-1.5 px-3 text-base text-gray-900 placeholder:text-gray-400 focus:outline-none sm:text-sm/6 md:text-lg", placeholder: "Alex@gmail.com" %>
                </div>
              </div>
            </div>

            <!-- Phone Number -->
            <div class="md:w-[45%]">
              <%= f.label :phone_number, "Phone Number", class: "block text-sm md:text-base font-light" %>
              <div class="mt-2">
                <div class="flex items-center rounded-sm bg-white outline-1 -outline-offset-1 outline-gray-300 focus-within:outline-2 focus-within:-outline-offset-2 focus-within:outline-[#377DFF]">
                  <%= f.text_field :phone_number, required: true, class: "shrink-0 block min-w-0 grow py-1.5 px-3 text-base text-gray-900 placeholder:text-gray-400 focus:outline-none sm:text-sm/6 md:text-lg", placeholder: "9876543210" %>
                </div>
              </div>
            </div>
          </div>

          <div class="flex flex-col md:flex-row gap-y-2 md:justify-between">
            <!-- Password -->
            <div class="md:w-[45%]">
              <%= f.label :password, "Password", class: "text-sm md:text-base font-light" %>
              <% if @minimum_password_length %>
                <em class="text-xs md:text-sm text-gray-200"> (<%= @minimum_password_length %> characters minimum)</em>
              <% end %>
              <div class="mt-2">
                <div class="flex items-center rounded-sm bg-white outline-1 -outline-offset-1 outline-gray-300 focus-within:outline-2 focus-within:-outline-offset-2 focus-within:outline-[#377DFF]">
                  <%= f.password_field :password, autocomplete: "new-password", required: true, class: "shrink-0 block min-w-0 grow py-1.5 px-3 text-base text-gray-900 placeholder:text-gray-400 focus:outline-none sm:text-sm/6 md:text-lg" %>
                </div>
              </div>
            </div>

            <!-- Confirm Password -->
            <div class="md:w-[45%]">
              <%= f.label :password_confirmation, "Confirm Password", class: "block text-sm md:text-base font-light" %>
              <div class="mt-2">
                <div class="flex items-center rounded-sm bg-white outline-1 -outline-offset-1 outline-gray-300 focus-within:outline-2 focus-within:-outline-offset-2 focus-within:outline-[#377DFF]">
                  <%= f.password_field :password_confirmation, autocomplete: "new-password", required: true, class: "shrink-0 block min-w-0 grow py-1.5 px-3 text-base text-gray-900 placeholder:text-gray-400 focus:outline-none sm:text-sm/6 md:text-lg" %>
                </div>
              </div>
            </div>
          </div>

          <!-- Submit Button -->
          <div class="md:flex  justify-between items-center md:text-right">
            <div class="md:w-[45%] flex justify-center gap-4 md:gap-2 pt-2 pb-4">
              <%= f.radio_button :role, "user", required: true, id: "role_user", class: "peer/user hidden", checked: true %>
              <%= f.label :role, "User", for: "role_user", class: "role-btn px-6 py-2 rounded-xl md:text-xl border text-gray-600 peer-checked/user:text-[#377DFF] border-gray-300 peer-checked/user:border-[#377DFF] peer-checked/user:font-semibold cursor-pointer transition duration-300", data: { role: "user" } %>

              <%= f.radio_button :role, "admin", required: true, id: "role_admin", class: "peer/admin hidden" %>
              <%= f.label :role, "Admin", for:"role_admin", class: "role-btn px-6 py-2 rounded-xl md:text-xl text-gray-600 peer-checked/admin:text-[#377DFF] border border-gray-300 peer-checked/admin:border-[#377DFF] peer-checked/admin:font-semibold cursor-pointer transition duration-300", data: { role: "admin" } %>
            </div>
            <%= f.submit "Create User", class: "w-full md:w-[45%] bg-[#377DFF] hover:bg-[#2b66d2] text-white py-2 md:px-8 rounded-sm text-base md:text-xl font-medium hover:cursor-pointer" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  
</main>