<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello, <%= @admin.first_name %>!</h1>
    <p>
      New user is created with credentials
    </p>
    <p>
      First Name: <%= @new_user.first_name %>
      Last Name: <%= @new_user.last_name %>
      Email: <%= @new_user.email %>
      Phone No.: <%= @new_user.phone_number %>
    </p>
    <p>
      Enjoy your stay!
    </p>
  </body>
</html>
