<!doctype html>
  <html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta >
    <title>Document</title>
  </head>
  <body>
    <main class="w-screen h-screen flex flex-col md:items-center bg-cover bg-center px-2" style="background-image: url(<%= asset_path('loginbg.png') %>);">
      <nav class="flex justify-center w-full md:py-2" >
        <div class="flex items-center gap-4 p-3 w-full md:px-6">
          <a class="flex items-center gap-4 cursor-pointer" href="/">
            <img src="<%= asset_path('loginicon.svg') %>" class="w-10 md:w-12">
            <p class="text-3xl md:text-4xl font-serif font-semibold text-white">Maze</p>
          </a>
        </div>
      </nav>
      <hr class="h-[1px] bg-gradient-to-r from-[#377DFF] to-white border-0">  
      <div class="flex h-[70%] px-2 md:w-[30%] md:h-[80%] justify-center items-center text-white">
        <%# px-2 md:px-60 py-32 md:py-14 %>
        <div class="flex flex-col w-full md:gap-2 p-4 md:py-24 md:px-20 rounded-2xl justify-center backdrop-blur-md bg-white/15  ">
          <h1 class="text-2xl md:text-4xl font-medium">Login</h1>
          <form action="<%=  %>" method="post" class="flex flex-col justify-center py-4">
            <div class="flex flex-col gap-y-2 md:gap-y-4">
              

              <div class="flex flex-col gap-y-3 md:justify-between">
                <div class="">
                  <label for="title" class="block text-sm md:text-base font-light">Email</label>
                  <div class="mt-2">
                    <div class="flex items-center rounded-sm bg-white outline-1 -outline-offset-1 outline-gray-300 focus-within:outline-2 focus-within:-outline-offset-2 focus-within:outline-[#377DFF]">
                      <input type="email" name="title" id="title" required class="shrink-0 block min-w-0 grow py-1.5 px-3 text-base text-gray-900 placeholder:text-gray-400 focus:outline-none sm:text-sm/6 md:text-lg" placeholder="Alex@gmail.com">
                    </div>
                  </div>
                </div>
                <div class="">
                  <label for="title" class="block text-sm md:text-base font-light">Password</label>
                  <div class="mt-2">
                    <div class="flex items-center rounded-sm bg-white outline-1 -outline-offset-1 outline-gray-300 focus-within:outline-2 focus-within:-outline-offset-2 focus-within:outline-[#377DFF]">
                      <input type="password" name="title" id="title" required class="shrink-0 block min-w-0 grow py-1.5 px-3 text-base text-gray-900 placeholder:text-gray-400 focus:outline-none sm:text-sm/6 md:text-lg">
                    </div>
                  </div>
                </div>
              </div>

              <div>
                <div class="flex justify-between gap-2">
                  <label for="" class="flex items-center gap-1 md:gap-2 cursor-pointer">
                    <input type="radio" name="" value=true class="" checked>
                    <span class="text-xs font-light md:text-base">Remeber me</span>
                  </label>
                  <p class="text-sm md:text-base font-light text-right"><%= link_to "Forgot Password", "/", class:"text-[#377DFF] font-medium"%></p>
                </div>
              </div>
              <div class="md:text-right">
                <button class="w-full md:w-[50%] bg-[#377DFF] hover:bg-[#2b66d2] text-white py-2 md:px-8 rounded-sm text-base md:text-xl font-medium hover:cursor-pointer">Login</button>
              </div>
            </div>
          </form>
        <p class="text-sm md:text-base font-light text-right">Don't have an account? <%= link_to "Sign up", "/signin", class:"text-[#377DFF] font-medium"%></p>
          
        </div>
      </div>


    </main>
    
  </body>
</html>