<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Maze" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>


    <%= favicon_link_tag 'icon.svg' %>

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%# <%= stylesheet_link_tag "application.tailwind", "data-turbo-track": "reload" %> 

    <!-- Preline CDN -->
    <script src="https://cdn.jsdelivr.net/npm/preline@latest/dist/preline.min.js"></script>

    <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>

    
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%# <main class="container mx-auto mt-28 px-5 flex"> %>
      <%# <div class="fixed top-5 left-1/2 transform -translate-x-1/2 bg-blue-500 text-white px-6 py-3 rounded-lg shadow-lg">
  This is a top pop-up!
</div> %>

    <% if notice %>
      <div id="popup" class="fixed top-5 right-5 bg-gray-800 text-white px-6 py-3 rounded-lg shadow-lg flex gap-x-4 items-center">
      <span id="popup-text"><%= notice %></span>
      <button onclick="document.getElementById('popup').classList.add('hidden');" class="ml-4 text-white text-3xl rounded">
        &times;
      </button>
      </div>
      <script>
        var popupElement = document.getElementById("popup");
        if (popupElement) {
          setTimeout(() => {
            popupElement.style.display = "none";
          }, 2000);
        }
      </script>
    <% end %>
    <%= yield %>

    <%# <script>
      document.addEventListener("DOMContentLoaded", function () {
        let popup = document.getElementById("popup");
        let popupText = document.getElementById("popup-text").textContent.trim();
        popup.classList.add("hidden");
      });
    </script> %>
    <%# </main> %>
  </body>
</html>
